<!DOCTYPE html>
<html lang="en">
<% let username = user.name %> 
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User: <%= username %></title>
</head>
<body>
	<h1><%= username %>'s messages:</h1>
	<% if(username === currentUser.name) { %> 
		<a href="<%= '/delete-user/' + user._id %>">Delete account</a>
	<% } %>
	<ul class="message-list">
		<% messages.forEach(msg => { %>
			<% let time = msg.timestamp.toLocaleString(DateTime.DATETIME_FULL) %> 
			<li class="message">
				<h2 class="message-title"><%= msg.title %></h2>								
				at : <%= time %> 
				<p class="message-text">
					<%= msg.text %>
				</p>				
			</li>				
		<% }); %>
	</ul>
	<a href="/">Home</a>
</body>
</html>